
.slide {

    position: absolute;

    width: 70%;

    height: 100%;

    padding: 40px;

    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    background: white;

    text-align: center;

    border-radius: 10px;

    opacity: 0;

    transform: translateX(10%);

    transition: transform 0.5s, opacity 0.5s;

}

.slide.active {

    opacity: 1;

    transform: translateX(0);

}

.slide.left {

    transform: translateX(0);

}

.controls {

    position: relative;
    width: 80%;
    text-align: center;

}

.controls button {

    padding: 10px 20px;

    margin: 0 10px;

    font-size: 16px;

    cursor: pointer;

}

.avatar {

    width: 100%;

    border-radius: 50%;

    margin-bottom: 20px;

}
